<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.dq.www.guangchangan">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name="cn.dq.www.guangchangan.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="cn.dq.www.guangchangan.login.WeixinLogin"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.dq.www.guangchangan.ui.PictureActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.dq.www.guangchangan.second.hd.HdPictureActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.dq.www.guangchangan.login.WeiboLogin"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.dq.www.guangchangan.login.QqLogin"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="cn.dq.www.guangchangan.ui.MainActivity"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name="cn.dq.www.guangchangan.second.DmgActivityShipin" />
        <activity android:name="cn.dq.www.guangchangan.second.DatangActivityShipin"></activity>
        <activity android:name="cn.dq.www.guangchangan.second.DytActivityShipin"></activity>
        <activity android:name="cn.dq.www.guangchangan.second.HqcActivityShipin"></activity>
        <activity android:name="cn.dq.www.guangchangan.second.gongyi.GyActivity"></activity>
        <activity android:name="cn.dq.www.guangchangan.ui.LoginAcitvity"></activity>
        <activity android:name="cn.dq.www.guangchangan.SplashActivity">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="cn.dq.www.guangchangan.WelcomeActivity"></activity>
        <activity android:name="cn.dq.www.guangchangan.ui.RegisteActivity"></activity>
        <activity
            android:name="cn.dq.www.guangchangan.second.find.FindDetailActivity"
            android:hardwareAccelerated="true"></activity>
        <activity android:name="cn.dq.www.guangchangan.second.find.GgDetailActivity"></activity>
        <activity android:name="cn.dq.www.guangchangan.second.find.Gg2DetailActivity"></activity>
        <activity android:name="cn.dq.www.guangchangan.second.find.Gg3DetailActivity"></activity>
        <activity android:name="cn.dq.www.guangchangan.second.find.QianxunDetailActivity"></activity>
        <activity android:name="cn.dq.www.guangchangan.picture.PictureDetailsActivity" />
        <activity android:name="cn.dq.www.guangchangan.ui.SetActivity" />
        <activity android:name="cn.dq.www.guangchangan.ui.CangkuActivity" />
        <activity android:name="cn.dq.www.guangchangan.ui.HaoyouActivity" />
        <activity android:name="cn.dq.www.guangchangan.second.gongyi.GyPictureDetailsActivity" />
        <activity android:name="cn.dq.www.guangchangan.second.find.Find1" />
        <activity android:name="cn.dq.www.guangchangan.second.find.Find2" />
        <activity android:name="cn.dq.www.guangchangan.second.find.Find3" />
        <activity android:name="cn.dq.www.guangchangan.second.find.Find4" />
        <activity android:name="cn.dq.www.guangchangan.second.find.Find5" />
        <activity android:name="cn.dq.www.guangchangan.second.find.Find6" />
        <activity android:name="cn.dq.www.guangchangan.second.find.Find7" />
        <activity android:name="cn.dq.www.guangchangan.second.find.Find8" />
        <activity android:name="cn.dq.www.guangchangan.second.find.Find9" />
        <activity android:name="cn.dq.www.guangchangan.second.find.Find10" />
        <activity android:name="cn.dq.www.guangchangan.second.find.Find11" />
        <activity android:name="cn.dq.www.guangchangan.second.find.Find12" />
        <activity android:name="cn.dq.www.guangchangan.second.find.Find13" />
        <activity android:name="cn.dq.www.guangchangan.second.find.Find14" />
        <activity android:name="cn.dq.www.guangchangan.second.find.Find15" />
        <activity android:name="cn.dq.www.guangchangan.second.find.Find16" />
        <activity android:name="cn.dq.www.guangchangan.second.find.Find17" />
        <activity android:name="cn.dq.www.guangchangan.second.find.Find18" />
        <activity android:name="cn.dq.www.guangchangan.second.find.Find19" />
        <activity android:name="cn.dq.www.guangchangan.second.find.Find20" />
        <activity
            android:name="cn.dq.www.guangchangan.second.hd.HdShipinActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/VideoStyle"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="cn.dq.www.guangchangan.second.zhuye.ShipinOneActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/VideoStyle"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="cn.dq.www.guangchangan.second.zhuye.ShipinTwoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/VideoStyle"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="cn.dq.www.guangchangan.second.zhuye.ShipinThreeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/VideoStyle"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="cn.dq.www.guangchangan.second.zhuye.ShipinFourActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/VideoStyle"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.zhuye.MijiDetailActivity"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.pass.DytActivity01"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.pass.DytActivity02"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.pass.DytActivity03"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.pass.DytActivity04"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.pass.DytActivity05"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.pass.DytActivity06"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.pass.HqcActivity01"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.pass.HqcActivity02"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.pass.HqcActivity03"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.pass.HqcActivity04"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.pass.HqcActivity05"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.pass.HqcActivity06"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.pass.DatangActivity01"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.pass.DatangActivity02"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.pass.DatangActivity03"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.pass.DatangActivity04"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.pass.DatangActivity05"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.pass.DatangActivity06"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.pass.DmgActivity01"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.pass.DmgActivity02"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.pass.DmgActivity03"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.pass.DmgActivity04"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.pass.DmgActivity05"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.pass.DmgActivity06"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.ui.RankingActivity"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.zhishi.ZsjsActivity01"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.zhishi.ZsjsActivity02"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.zhishi.ZsjsActivity03"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.zhishi.ZsjsActivity04"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.zhishi.ZsjsActivity05"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.zhishi.ZsjsActivity06"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.zhishi.ZsjsActivity07"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.zhishi.ZsjsActivity08"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.zhishi.ZsjsHighActivity01"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.zhishi.ZsjsHighActivity02"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.zhishi.ZsjsHighActivity03"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.zhishi.ZsjsHighActivity04"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.zhishi.ZsjsHighActivity05"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.zhishi.ZsjsHighActivity06"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.zhishi.ZsjsHighActivity07"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.zhishi.ZsjsHighActivity08"
            />
        <activity
            android:hardwareAccelerated="true"
            android:name="cn.dq.www.guangchangan.second.UserInfoAcitvity"
            />
        <activity
            android:hardwareAccelerated="true"
            android:screenOrientation="landscape"
            android:name=".utils.VideoActivity"
            />
    </application>

</manifest>